name:  build and deploy

on:
  push:
    branches: [ master ]
  
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: Set up Java 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '8'
    - name: what java version  checking
      run: java -version
    - name: Build with Maven
      run: mvn clean package
