name:  build and deploy

on:
  push:
    branches: [ master ]
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Java 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '8'
    - name: what java version
      run: java -version
    - name: Build with Maven
      run: mvn clean package
